<div class="flex flex-col w-full">
<div class="flex gap-2">
  <span class="text-2xl font-bold">Employee</span>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8">
    <path fill-rule="evenodd" d="M8.25 6.75a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0ZM15.75 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM2.25 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM6.31 15.117A6.745 6.745 0 0 1 12 12a6.745 6.745 0 0 1 6.709 7.498.75.75 0 0 1-.372.568A12.696 12.696 0 0 1 12 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 0 1-.372-.568 6.787 6.787 0 0 1 1.019-4.38Z" clip-rule="evenodd" />
    <path d="M5.082 14.254a8.287 8.287 0 0 0-1.308 5.135 9.687 9.687 0 0 1-1.764-.44l-.115-.04a.563.563 0 0 1-.373-.487l-.01-.121a3.75 3.75 0 0 1 3.57-4.047ZM20.226 19.389a8.287 8.287 0 0 0-1.308-5.135 3.75 3.75 0 0 1 3.57 4.047l-.01.121a.563.563 0 0 1-.373.486l-.115.04c-.567.2-1.156.349-1.764.441Z" />
  </svg>
</div>

  <p-breadcrumb class="max-w-full relative -ml-3" [model]="items" [home]="home" />

</div>

<mat-grid-list [cols]="12" rowHeight="4rem">

<!--  Form Start-->
  <mat-grid-tile [colspan]="4" [rowspan]="10">
    <div class="w-full h-full bg-white mt-4 ml-2 rounded-xl shadow-2xl overflow-auto">

      <div class="w-full h-[2.5rem] bg-[#1e4263] flex items-center rounded-tl-xl rounded-tr-xl">
        <span class="ml-5 text-white text-lg ">Data Form</span>
      </div>

      <form class="mt-5 2-full px-2">

        <div class="h-28 mb-8 flex flex-row items-center justify-center">
          <img class="h-32 w-32 rounded-full border-2" src="{{imageempurl ? imageempurl : './defaultimg.png'}}">
          <div class="flex flex-col mt-2">
            <input  id="userImage" hidden="hidden" (change)="selectImage($event)" select type="file" >
            <label for="userImage" class="btn ml-10 mb-2 text-white rounded-md text-center bg-gray-950 text-white w-28 hover:bg-gray-900">Select</label>
            <label class="btn ml-10 mb-2 text-white rounded-md text-center bg-gray-950 text-white hover:bg-gray-900" (click)="clearImage()">Clear</label>
          </div>
        </div>

          <div class="mb-2 p-fluid">
            <p-floatlabel variant="on">
              <input pInputText id="firstname" autocomplete="off" class="w-full"/>
              <label for="firstname">First Name</label>
            </p-floatlabel>
          </div>

          <div class="mb-2">
            <p-floatlabel variant="on">
              <input pInputText id="lastname" autocomplete="off" class="w-full"/>
              <label for="lastname">Last Name</label>
            </p-floatlabel>
          </div>

        <div class="mb-2">
          <p-floatlabel variant="on">
            <input pInputText id="nic" autocomplete="off" class="w-full"/>
            <label for="nic">Nic</label>
          </p-floatlabel>
        </div>

        <div class="mb-2">
          <p-floatlabel variant="on">
            <input pInputText id="empno" autocomplete="off" class="w-full"/>
            <label for="empno">Employee Number</label>
          </p-floatlabel>
        </div>

        <div class="mb-2">
          <p-floatlabel variant="on">
            <input pInputText id="mobile" autocomplete="off" class="w-full"/>
            <label for="mobile">Mobile</label>
          </p-floatlabel>
        </div>

        <div class="mb-2">
          <p-floatlabel variant="on">
            <input pInputText id="land" autocomplete="off" class="w-full"/>
            <label for="land">Land</label>
          </p-floatlabel>
        </div>

        <div class="mb-2">
          <p-floatlabel variant="on">
            <input pInputText id="email" autocomplete="off" class="w-full"/>
            <label for="email">Email</label>
          </p-floatlabel>
        </div>

        <div class="mb-2">
          <p-select [options]="genders" optionLabel="name" placeholder="Select a Gender" class="w-full" />
        </div>

        <div class="mb-2">
          <p-floatlabel variant="on">
            <p-datepicker inputId="dob" showIcon iconDisplay="input" styleClass="w-full" />
            <label for="dob">Date of Birth</label>
          </p-floatlabel>
        </div>

        <div class="mb-2">
          <p-select [options]="designations" optionLabel="name" placeholder="Select a Designation" class="w-full" />
        </div>

        <div class="mb-2">
          <p-floatlabel variant="on">
            <p-datepicker inputId="doassigned" showIcon iconDisplay="input" styleClass="w-full" />
            <label for="doassigned">Date of Assigned</label>
          </p-floatlabel>
        </div>

        <div class="mb-2">
          <p-select [options]="employeestatuses" optionLabel="name" placeholder="Select a Employee Status" class="w-full" />
        </div>

        <div class="mb-2">
          <p-select [options]="employeetypes" optionLabel="name" placeholder="Select a Employee Type" class="w-full" />
        </div>

        <div class="mb-4">
          <p-floatlabel variant="on">
            <textarea pTextarea id="description" rows="5" cols="30" style="resize: none" class="w-full"></textarea>
            <label for="description">Description</label>
          </p-floatlabel>
        </div>

        <div class="mb-4 w-full flex justify-center">
          <div>
        <p-buttonGroup class="w-full">
          <p-button label="Save" icon="pi pi-check" />
          <p-button label="Update" icon="pi pi-hammer" />
          <p-button label="Delete" icon="pi pi-trash" />
          <p-button label="Clear" icon="pi pi-times" />
        </p-buttonGroup>
          </div>
        </div>

      </form>

    </div>
  </mat-grid-tile>
<!--  Form End-->
<!--  Search Start-->
  <mat-grid-tile [colspan]="8" [rowspan]="4">
    <div class="w-full h-full bg-white mt-4 ml-2 rounded-xl shadow-2xl overflow-auto">

      <div class="w-full h-[2.5rem] bg-[#1e4263] flex items-center rounded-tl-xl rounded-tr-xl">
        <span class="ml-5 text-white text-lg ">Search</span>
      </div>

      <form class="mt-5 w-full px-4">

        <div class="flex w-full gap-4">

          <div class="mb-2">
            <p-floatlabel variant="on">
              <input pInputText id="lastname" autocomplete="off" class="w-80"/>
              <label for="lastname">LastName</label>
            </p-floatlabel>
          </div>

          <div class="mb-2">
            <p-floatlabel variant="on">
              <input pInputText id="nic" autocomplete="off" class="w-80"/>
              <label for="nic">Nic</label>
            </p-floatlabel>
          </div>

        </div>

        <div class="flex w-full gap-4">

          <div class="mb-5">
            <p-select [options]="employeestatuses" optionLabel="name" placeholder="Select a Employee Status" class="w-80" />
          </div>

          <div class="mb-5">
            <p-select [options]="employeetypes" optionLabel="name" placeholder="Select a Employee Type" class="w-80" />
          </div>

        </div>

        <div class="flex w-full gap-4">
          <p-button label="Search" icon="pi pi-check" />
          <p-button label="Clear" icon="pi pi-hammer" />
        </div>



      </form>

    </div>
  </mat-grid-tile>
<!--  Search End-->
<!--  Table Start-->
  <mat-grid-tile [colspan]="8" [rowspan]="6">
    <div class="w-full h-full bg-white mt-4 ml-2 rounded-xl shadow-2xl overflow-auto">

      <div class="w-full h-[2.5rem] bg-[#1e4263] flex items-center rounded-tl-xl rounded-tr-xl">
        <span class="ml-5 text-white text-lg ">Data View</span>
      </div>

      <div class="overflow-visible p-4 mt-2 flex flex-col bg-white rounded-lg">
        @if(!isFailed || !isLoading || employees.length !== 0){
          <table class="text-left p-4 table" >
            <thead>
            <tr class="text-black bold">
              <th>Profile</th>
              <th>Designation</th>
              <th>Personal Info</th>
              <th>Mobile</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
            </thead>

            <tbody>
              @for(employee of data | async; track employees){
                <tr>
                  <td>
                    <div class="flex items-center gap-3 text-left">
                      <div>
                        <div class="mask mask-circle w-12 h-12">
                          <img
                            src="{{employee.photo ? 'data:image/jpeg;base64,'+ employee.photo :'./defaultimg.png'}}"  alt="profile"
                          />
                        </div>
                      </div>

                      <div>
                        <div class="font-bold">{{employee.fullname}}</div>
                        <div class="text-sm opacity-50">{{employee.number}}</div>
                      </div>
                    </div>
                  </td>

                  <td class="block items-center justify-center">
                    <span>{{employee.designation.name}}</span>
                    <div class="block mt-2 h-fit rounded-md bg-gray-300 w-32">Since {{employee.doassigned}}</div>
                  </td>

                  <td>
                      <span class="flex items-center">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          data-slot="icon"
                          class="w-4 h-4 mr-1.5 text-gray-500"
                        >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Zm6-10.125a1.875 1.875 0 1 1-3.75 0 1.875 1.875 0 0 1 3.75 0Zm1.294 6.336a6.721 6.721 0 0 1-3.17.789 6.721 6.721 0 0 1-3.168-.789 3.376 3.376 0 0 1 6.338 0Z"
                        />
                      </svg>
                        {{employee.nic}}
                      </span>

                    <span class="flex items-center mt-1">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none" viewBox="0 0 24 24"
                          stroke-width="1.5" stroke="currentColor"
                          data-slot="icon"
                          class="w-4 h-4 mr-1.5 text-gray-500"
                        >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M12 8.25v-1.5m0 1.5c-1.355 0-2.697.056-4.024.166C6.845 8.51 6 9.473 6 10.608v2.513m6-4.871c1.355 0 2.697.056 4.024.166C17.155 8.51 18 9.473 18 10.608v2.513M15 8.25v-1.5m-6 1.5v-1.5m12 9.75-1.5.75a3.354 3.354 0 0 1-3 0 3.354 3.354 0 0 0-3 0 3.354 3.354 0 0 1-3 0 3.354 3.354 0 0 0-3 0 3.354 3.354 0 0 1-3 0L3 16.5m15-3.379a48.474 48.474 0 0 0-6-.371c-2.032 0-4.034.126-6 .371m12 0c.39.049.777.102 1.163.16 1.07.16 1.837 1.094 1.837 2.175v5.169c0 .621-.504 1.125-1.125 1.125H4.125A1.125 1.125 0 0 1 3 20.625v-5.17c0-1.08.768-2.014 1.837-2.174A47.78 47.78 0 0 1 6 13.12M12.265 3.11a.375.375 0 1 1-.53 0L12 2.845l.265.265Zm-3 0a.375.375 0 1 1-.53 0L9 2.845l.265.265Zm6 0a.375.375 0 1 1-.53 0L15 2.845l.265.265Z"
                        />
                      </svg>

                      {{employee.dob}}
                      </span>
                  </td>

                  <td>
                    <span>{{employee.mobile}}</span>
                  </td>

                  <td>
                    <div class="flex items-center">
                      <div class="size-3 rounded-full mr-1.5 {{employee.employeestatus.name === 'Active'? 'bg-green-300' : 'bg-red-500'}}"></div>
                      {{employee.employeestatus.name}}
                    </div>
                  </td>

                  <th>
                    <div class="join">
                      <button
                        class=" join-item {{hasReadAuthority ? '' : 'text-gray-300'}} hover:cursor-pointer"
                        (click) = "fillForm(employee)"
                        [disabled]="!hasReadAuthority"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          data-slot="icon"
                          class="w-5 h-5 mr-3"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                          />
                        </svg>
                      </button>

                    </div>
                  </th>

                </tr>
              }
            </tbody>
          </table>
          <mat-paginator [length]="20" [pageSize]="5" [pageSizeOptions]="[3,5,10,20]"></mat-paginator>
        }

<!--        @if (isLoading){-->
<!--          <app-page-loading/>-->
<!--        }-->

<!--        @if (isFailed){-->
<!--          <app-page-error/>-->
<!--        }-->
      </div>

    </div>
  </mat-grid-tile>
<!--  Table End-->

</mat-grid-list>
